.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white(0, 0, 0);
    font-family: "Poppins", sans-serif;
}

.headerStyle {
    text-align: center;
    border: 2px solid black;
    background: linear-gradient(to right, #a1ffce, #faffd1);
    font-size: 2rem;
    padding: 15px;
    width: 100%;
}

.headerText {
    animation-name: topToBottom;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes topToBottom {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

.details {
    text-align: center;
    line-height: 2;
}