.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white(0, 0, 0);
    font-family: "Poppins", sans-serif;
}

.headerStyle {
    text-align: center;
    border: 2px solid black;
    background: linear-gradient(to right, #a1ffce, #faffd1);
    font-size: 2rem;
    padding: 15px;
    width: 100%;
}



.headerText {
    animation-name: topToBottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes topToBottom {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

.aboutMe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

}

.text {
    display: grid;
    align-self: start;
    padding-left: 30px;
    padding-right: 30px;
}

.image {
    display: grid;
    align-self: end;
    margin-left: 300px;


}

.image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 50px;
}

.Card {
    border: 2px solid black;
    text-align: center;
    border-radius: 20xp;
    background-color: lightblue;
    border-radius: 16px;

    color: #000000;
    transition: all 0.3s ease;
}

.Card:hover {
    transform: translateY(-8px);
    box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.3);
}



.cardspaceL {
    margin-left: 10px;
}

.cardspaceR {
    margin-right: 10px;
}

button {
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #38ef7d, #11998e);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: black;
}

.footerclass {

    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;

}

.ficons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* For tablets (width 768px and below) */
@media (max-width: 768px) {
    .aboutMe {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .image {
        margin-left: 0;
        justify-content: center;
    }


    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;

    }
}

























/* .container {
    height: 5rem;
    border-bottom: 5px solid rgb(0, 0, 0);
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pclass {
    padding: 0 100px 0 100px;
}

.gridclass {
    display: grid;
    grid-template-areas: "text text image"
        "text text image";
}

.textclass {
    grid-area: text;
    padding: 20px 0 0 0;
    text-align: center;
}

.imageclass {
    grid-area: image;
    padding: 0;

}

.lefttext {
    padding-top: 10px;
}

.righttext {
    padding-top: 20px;
    gap: 10px
}

.linkclass:hover {
    color: blue;
    border-bottom: 2px solid blue;
    transition: color 0.1s ease;
}

.linkclass2 {
    color: white;

}

.border {
    border-radius: 10px;
}

.linkclass2:hover {
    color: lightskyblue;
    cursor: pointer;
    transition: color 0.1s ease;
}

.centertext {
    text-align: center;
}

.imageclass {
    display: flex;
    justify-content: center;
    align-items: center;

}



.footerclass {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    border-top: 3px solid white;
}


.white {
    color: white;
}


.centertext {
    text-align: center;
}


.fade-in {
    opacity: 0;
    transform: translateY(20px);

    animation: fadeUp 1s ease forwards;
}


.delay {
    animation-delay: 0.5s;
}


@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */